<!-- <ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-circus"></ngx-spinner>

<div class="container-fluid">

  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Circle</label></div>
    <div class="col-md-3">
        <select class="form-control" [(ngModel)]="circle">
          <option></option>
        </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>TVI Site Id</label></div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="tviSiteId">
        <option></option>
      </select>
    </div>
  </div>
  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>Airtel Site Id</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="airtelSiteId" /></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>Airtel Locator</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="airtelLocatorId" /></div>
  </div>
  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>Technology</label></div>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="technology"/>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>Site Address</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="siteAddress" /></div>
  </div>
  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>City</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="city" /></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>Town/Village</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="townVillage" /></div>
  </div>
  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>District</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="district" /></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>State</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="state" /></div>
  </div>

  <div class="row mr-t mr-b"> 
    <div class="col-md-2"><label>Pincode</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="pincode" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>Clutter</label></div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="clutter">
        <option>Urban</option>
        <option>Semi Urban</option>
        <option>Rural</option>
        <option>Metro</option>
        <option>Densc</option>
      </select>
    </div>
  </div>
  
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Site Type</label></div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="siteType"/>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>COW Type</label></div>
    <div class="col-md-3">
        <select class="form-control" [(ngModel)]="siteType" >
            <option>Tendor</option>
            <option>Non Tendor</option>
          </select>
    </div>
  </div>

  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Latitude Provide By Airtel</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="latitude" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>Longitude Provide By Airtel</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="longitude" /></div>
  </div>
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Latitude finalised for building Anchor Site by TVI</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="latitude2" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>Longitude finalised for building Anchor Site by TVI</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="longitude2" /></div>
  </div>

</div> -->