table{
    font-size: 11px;
}
table.header-table{
    white-space: nowrap;
}
.header-table th, .header-table td{
    padding: 5px !important;
    font-weight: bold;
}
.header-table td {
    border: 1px solid #2E57A7 !important;
}
.header-table td {
    border: 1px solid #2E57A7 !important;
}
.header-table th:last-child{
    background-color:#2E57A7;
}
.header-table td:last-child{
    background-color: #e3f0f7;
}

.header-table th:last-child, .header-table td:last-child
{
    position:sticky;
    right:0px;
}
.header-table th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 10; 
    background-color:#2E57A7;
}
.viewAnchor{
    font-weight: bold;
    color : #2E57A7;
    border:1px solid #2E57A7;
    padding : 3px;
    border-radius: 10px;
}
.viewAnchor:hover{
    text-decoration: none;
    background-color: #ffb600;
    color: white;
    border:1px solid #ffb600;
}
#viewAirtelSrModal .col-md-2,
#viewAirtelSrModal .col-md-3,
#viewAirtelSrModal .col-md-4, 
#viewAirtelSrModal .col-md-9, 
#viewAirtelSrModal .col-md-10{
    border: 1px solid #e2dede;
}
.edit{
    display: none;
}