<!-- <ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-circus"></ngx-spinner>

<div class="container-fluid">
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Circle</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="circle" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>TVI Site Id</label></div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="tviSiteId">
        <option></option>
      </select>
    </div>
  </div>
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Airtel Site Id</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="airtelSiteId" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>Technology</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="technology" /></div>
  </div>
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Site Address</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="siteAddress" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>City</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="city" /></div>
  </div>
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Town/Village</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="townVillage" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>District</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="district" /></div>
  </div>
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Pincode</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="pincode" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>Clutter</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="clutter" /></div>
  </div>
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Site Type</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="siteType" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>EB Availability</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="ebAvailability" /></div>
  </div>
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Sharing Site Delivery</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="sharingSiteDelivery" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-3"></div>
  </div>
</div> -->