<!-- <ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-circus"></ngx-spinner>

<div class="container-fluid">

  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>Circle</label></div>
      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="circle">
          <option></option>
        </select>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>TVI Site Id</label></div>
      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="tviSiteId">
          <option></option>
        </select>
      </div>
  </div>
  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>Airtel Site Id</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="airtelSiteId" /></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>Airtel Locator</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="airtelLocatorId" /></div>
  </div>
  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>Technology</label></div>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="technology" />
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>Site Address</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="siteAddress" /></div>
  </div>
  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>City</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="city" /></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>Town/Village</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="townVillage" /></div>
  </div>
  <div class="row mr-t mr-b">
      <div class="col-md-2"><label>District</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="district" /></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"><label>State</label></div>
      <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="state" /></div>
  </div>

  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Pincode</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="pincode" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>Clutter</label></div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="clutter">
        <option>Urban</option>
        <option>Semi Urban</option>
        <option>Rural</option>
        <option>Metro</option>
        <option>Densc</option>
      </select>
    </div>
  </div>

  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Smart Split Type</label></div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="smartSplitType">
        <option>Colocation</option>
        <option>Stand Alone</option>
      </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>Floor Space Of OD Cabinate</label></div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="floorSpaceOfODCabinet">
        <option>Small Cabinet</option>
        <option>Large Cabinet</option>
      </select>
    </div>
  </div>
  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>AC Power Load</label></div>
    <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="acPowerLoad" /></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>EB Availability</label></div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="ebAvailability">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
  </div>

  <div class="row mr-t mr-b">
    <div class="col-md-2"><label>Fiber termination</label></div>
    <div class="col-md-3">
        <select class="form-control" [(ngModel)]="fiberTermination">
            <option>Yes</option>
            <option>No</option>
          </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"><label>Total Power Required</label></div>
    <div class="col-md-3">
      <input class="form-control" [(ngModel)]="totalPowerRequired"/>
    </div>
  </div>

</div> -->