<ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "medium" color = "#fff" type = "ball-circus">
</ngx-spinner>

<!-- <button (click)="refreshPage()">Refresh</button> -->

<div class="container-fluid">
  <h6 class="text-danger" style="padding: 5px 0px 0px">! All * fields are mandatory.</h6>
  <fieldset class="the-fieldset">
    <legend class="the-legend">Basic Information</legend>

    <div class="row mr-t mr-b">
      <div class="col-md-2">
        <label>Circle</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)] = "circleName" (change)="getTVISiteIdCircleName()">
            <option value="">Select</option>
            <option *ngFor="let cn of commaSeparateCircleName?.split(',')" value="{{cn}}">{{cn}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label>TVI Site Id</label> <span class="text-danger">*</span>
        <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="singleSelectropdownSettings" 
        [data]="tviSiteIdList" [(ngModel)]="selectedTviSiteIdList" 
        (onSelect)="onSelectOrDeSelectTviSiteId($event)" (onDeSelect)="onSelectOrDeSelectTviSiteId($event)"
        [disabled]="circleName == '' "> 
        </ng-multiselect-dropdown>
      </div>
      <div class="col-md-2" *ngIf="operator == 'Airtel' ">
        <label>Airtel Site Id</label> <span class="text-danger">*</span>
        <input type="text" OnlyAlphanumeric = "true" maxlength=16 class="form-control" [(ngModel)]="airtelSiteId" />
      </div>
      <div class="col-md-2" *ngIf="operator == 'VIL' ">
        <label>VIL Site Id</label> <span class="text-danger">*</span>
        <input type="text" OnlyAlphanumeric = "true" maxlength=16 class="form-control" [(ngModel)]="airtelSiteId" />
      </div>
      <div class="col-md-2">
        <label>Site Name</label> <span class="text-danger">*</span>
        <input type="text" class="form-control" [(ngModel)]="siteName" [disabled]="true"/>
      </div>

      <div class="col-md-2" *ngIf="operator == 'Airtel' ">
        <label>Airtel Locator Id</label>
        <input type="text" OnlyAlphanumericWithDecimalAndHyphen = "true" maxlength=20 class="form-control" [(ngModel)]="airtelLocatorId" />
      </div>
    
      <div class="col-md-2">
        <label>Technology</label> <span class="text-danger">*</span>
        <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="multiSelectropdownSettings" 
        [data]="technologyList" [(ngModel)]="selectedTechnologyList"> 
        </ng-multiselect-dropdown>
      </div>
      
    </div>

    <div class="row mr-t mr-b">
      <div class="col-md-2">
        <label>Latitude</label> <span class="text-danger">*</span>
        <input type="text" OnlyNumberWithDecimal = "true" class="form-control" [(ngModel)] = "latitude1" [disabled]="true"/>
      </div>
      <div class="col-md-2">
        <label>Longitude</label> <span class="text-danger">*</span>
        <input type="text" OnlyNumberWithDecimal = "true" class="form-control" [(ngModel)] = "longitude1" [disabled]="true"/>
      </div>
   
      <div class="col-md-2" *ngIf="!isSmartSplit">
        <label>AGL required for ODSC</label> <span class="text-danger">*</span>
        <input type="text" OnlyNumber="true" maxlength=2 class="form-control" [(ngModel)]="aglRequiredODSC" />
      </div>

      <div class="col-md-2" *ngIf="!isSmartSplit">
        <label>Backhaul</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)]="airtelBackhaul">
          <option value="">Select</option>
          <option>MW</option>
          <option>UBR</option>
          <option>Fiber</option>
        </select>
      </div>
    </div>

    <div class="row mr-t mr-b">
      <div class="col-md-2" *ngIf="!isSmartSplit">
        <label>AC + DC Backup</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)]="acDcBackup">
          <option value="">Select</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>

      <div class="col-md-3" *ngIf="!isSmartSplit">
        <label>Additional power back up of 2 Hrs</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)]="additionalPowerBackup2Hrs">
          <option value="">Select</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
    
      <div class="col-md-2" *ngIf="!isSmartSplit">
        <label>Camuflauging</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)]="camuflauging">
          <option value="">Select</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>

    </div>

    <div class="row mr-t mr-b" *ngIf="isSmartSplit">
      <div class="col-md-3">
        <label>Raw Space for OD cabinet (in Sq Meter)</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)]="rowSpace">
          <option value="">Select</option>
          <option *ngFor="let o of rowSpaceList" value="{{o.paramCode}}">{{o.paramDesc}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label>AC Power required (in KW)</label> <span class="text-danger">*</span>
        <input type="text" OnlyNumberWithDecimal = "true" class="form-control" [(ngModel)] = "acPower"/>
        <!-- <select class="form-control" [(ngModel)]="acPower">
          <option value="">Select</option>
          <option *ngFor="let o of acPowerList" value="{{o.paramCode}}">{{o.paramDesc}}</option>
        </select> -->
      </div>
      <div class="col-md-3">
        <label>MCB no for AC supply</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)]="noOfMcb">
          <option value="">Select</option>
          <option *ngFor="let o of mcbList" value="{{o.paramCode}}">{{o.paramDesc}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label>MCB Amp</label> <span class="text-danger">*</span>
        <input type="text" OnlyNumber="true" class="form-control" [(ngModel)]="mcbAmp"/>
      </div>
      <div class="col-md-2">
        <label>DG Status</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)]="dgStatus">
          <option value="">Select</option>
          <option>Non DG</option>
        </select>
      </div>
      <div class="col-md-2">
        <label>Battery Backup</label> <span class="text-danger">*</span>
        <select class="form-control" [(ngModel)]="batteryBackup">
          <option value="">Select</option>
          <option>No</option>
        </select>
      </div>
    </div>

  </fieldset>
  
  
  <fieldset  class="the-fieldset" style="margin-bottom: 30px">
    <legend class="the-legend">Remark</legend>
    <div class="row mr-t mr-b" >
      <div class="col-md-12">
        <label>Remark</label> <span class="text-danger">*</span>
        <textarea class="form-control" rows=4 style="resize: none" [(ngModel)] = "remark"></textarea>
      </div>
    </div>
    <div class="row mr-t mr-b" >
      <div class="col-md-2">
        <button class="btn btn-primary tvi-yellow" (click)="saveNBSDetails()">Submit</button>
      </div>
    </div>
  </fieldset>
</div>