<ngx-spinner
bdOpacity = 0.9
      bdColor = "#333"
      size = "medium"
      color = "#fff"
      type = "ball-circus"></ngx-spinner>
      
<div class="page">
  <header class="header" style="position: fixed;top:0;display: block;width: 100%;z-index: 1000;">
    <nav class="navbar" style="padding-top: 0px;padding-bottom: 0px;">
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
         
          <div class="navbar-header">

            <!-- <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-transparent dropdown-toggle"
                aria-controls="dropdown-basic" [routerLink]="['dashbord']">
                Home
                </button>
            </div> -->
            <img src="assets/img/tvi_logo.png" [routerLink]="['dashbord']" style="width: 85px; height: 36px;margin-right: 15px;cursor: pointer;"/>
            <div class="btn-group" dropdown *ngFor="let menu of menuList" [routerLinkActive]="['active']">
              <button id="button-basic" dropdownToggle type="button" class="btn btn-transparent dropdown-toggle"
                      aria-controls="dropdown-basic">
                      {{menu.menuName}} <span class="caret" ></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" style="margin-top: 0px !important;font-weight: bold"
                  role="menu" aria-labelledby="button-basic" >
                <li *ngFor="let submenu of menu.submenuList" role="menuitem" [ngClass]= "{'menu-separator':submenu.routerLink === 'new-tenency'}">
                  <a class="dropdown-item" [routerLinkActive]="['active']" href="javascrip:void(0)" [routerLink]="[submenu.routerLink]">{{submenu.submenuName}}</a>
                </li>
              </ul> 
            </div>

          </div>
         
          
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
            <li class="nav-item"><a href="javascript:void(0)" (click)="logout()" class="nav-link logout">Hello : {{username}}<i class="fa fa-sign-out"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="page-content d-flex align-items-stretch"> 
    <div class="content-inner" style="width: calc(100% - 0px);margin-top: 40px">
        
      <router-outlet></router-outlet>
    </div>
  </div>
  <div style="width: 100%; position: fixed;bottom: 0;text-align: center;background:#2E57A7;font-weight: 400;color:white">
    &copy; Tower Vision India Private Limited.
  </div>
</div>


